 div.bar {
        display: inline-block;
        width: 100%;
        height: 75px;
        background-color: teal;
        margin-right: 2px;
        background-position: 500px -400px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        border: none;
        background:url("http://iris.not.iac.es/axis-cgi/mjpg/video.cgi");


      }

      div.bar:hover {
        opacity: 0.8;
      }

      body {
        width: 100%;
        height: 100%;
        position: absolute;
       background:url("http://iris.not.iac.es/axis-cgi/mjpg/video.cgi");
        /*background-position: 0px -300px;*/
        background-size: 100% auto;
        color: white;
        font-family: "Helvetica Narrow, sans-serif";
       /* text-transform: lowercase;*/
        font-size: 12px;

      }

      .type {
         z-index: 10;
        width: 100%;
        height:20px;
        background: black;
        position: absolute;
        top: -10px;
        left: -10px;
        line-height: 20px;
        padding-left: 10px;
      }

      .type2 {
        display: none;
        position: absolute;
        z-index: 2;
        left: 35px;
      }

      .type3 {
        display: none;
        position: absolute;
        z-index: 2;
        left: 55px;
      }
    
      .container {
        position: fixed;
        bottom: 0px;
        height: 100%;
        min-height:800px; 
        overflow: hidden;
        /*background-color: lightgoldenrodyellow;*/
        /*opacity: 0.3;*/
      }
