/*body {
	font-family: 'Andale Mono';
}
*/
body {
	font-family: 'Inconsolata', "lucida console";
}

@import url(http://fonts.googleapis.com/css?family=Italiana);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans+Condensed:300,300italic,700);

@font-face {
font-family: Lekton;
src: url("Lekton/Lekton034.otf") format("opentype");
}


.topNav {
	background: white;
	height: 50px;
	line-height: 65px;
	background-image: url(metalex.jpg);
	background-position: 0px 300px;
	color: white;
	font-size: 100px;
	text-align: left;
	font-family: 'Lekton', sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
	}

.highlighter {
	height: 30px;
	position: absolute;
	z-index: 1;
	top: 29px;
	width: 100%;
	background-color: none;
	opacity: 0.6;

}


.topNav:hover {
	color: tomato;
}

.highlighter:hover {
	background-color: gold;
}

.sideNav{
	position: absolute;
	border-right:1px dashed lightgrey; 
	height: 100%;
	left: 0px;
	float: left;
	width: 180px;
	top: 80px;
	float: left;
}

.navMods {
	/*max-width: 180px;*/
	/*width: 100%;*/
	right: 5%;
	margin-left: 20px;
	margin-top: 30px;
	height: 30px;
	margin-bottom: 20px;
	text-align: left;
	line-height: 30px;
	font-size: 12px;
	color: dimgrey;
	border-bottom: 1px dashed lightgrey;
	overflow: hidden;


}

.sideNav
.navMods:hover {
	/*background: white !important;*/
	font-style: italic !important;
	color: tomato !important;
	border-bottom: 1px dashed dimgrey;
	border-right: none;
	color: white;
}

.stamp {
	position: absolute;
	width: 200px;
	height: 150px;
	background-size: 200px 150px;
	background-image: url(stamp.png);
	bottom: 30px;
	left: 15%;
}


.field {
	height: auto;
	width: 80%;
/*	border: 1px solid magenta;*/
	left: 180px;
	position: absolute;
	margin-top: 20px;
	background-repeat: no-repeat;

}

.field .splash {
	margin-top: 30px;
}

.field .navMods {
	width: 110%;
	max-width: none;
/*	margin-left: -80px !important;*/
	margin-top: 0px !important;
	height: 40px;
	/*border-bottom: 1px dashed !important;*/
}


.field .navMods p {
	display: none;
	position: absolute;
	bottom: -15px;
	left: 25px;
	z-index: -1;
}


.fieldT .navMods p {
	width: 110%;
	height: 60px;
	display: block;
	position: absolute;
	left: 25px;
	z-index: -1;
	font-size: 24px;
	line-height: 90px;
	color: transparent;
}

.fieldT .navMods p:hover {
	display: block;
	position: absolute;
	bottom: -53px;
	left: 25px;
	z-index: -1;
	font-size: 55px;
	color: white;
}

.x .tab {
	right: 10%;
	background: url(daphne&telstar/dtw.png);
	background-position: 0px 820px;
}

.y .tab { 
	right: 15%;
	background: url(b1ching/bi1.png);
	background-position: 330px 820px;
}

.z .tab {
	right: 20%;
	background: url(actualsize/fafw.png);
	background-position: 50px 820px;
}

.zed .tab {
	right: 25%;
	background: url(tornfrom/film.png);
	background-position: 770px 65px;
}

/*.tab {
	position: absolute;
	margin-top: 10px;
	width: 350px;
	height: 30px;
	-webkit-border-radius: 40px 20px 0px 0;
	-moz-border-radius: 40px 20px 0px 0;
	-webkit-transition: all 2.5s ease;
	-moz-transition: all 2.5s ease;
}*/

.tab {
	left:0px !important;
	position: absolute;
	margin-top: -20px;
	width: 110%;
	height: 60px;
	border-bottom:none;
	opacity: 0.8;
	-webkit-transition: all 2.5s ease;
	-moz-transition: all 2.5s ease;
}

.tab:hover {
	background: tomato;
	opacity: 1;
}

.splash {
	/*background-image:url(frame.png);*/
	height: 100%;
	background-repeat: no-repeat;
	width: 100%;
}


.cam {
	position: absolute;
	width: auto;
	max-width: 25%;
	height: auto;
	padding: 20px;
	right: 10%;
	margin-top: 100px;
	border: 1px solid lightgrey;
	font-size: 12px;
	color: dimgrey;
	line-height: 20px;

}

.pot {
	position: absolute;
	width: 60px;
	background-size: 100px 172px;
	background-repeat: no-repeat;
	height: 132px;
	padding: 20px;
	right: 10%;
	margin-top: 150px;
	margin-right: 120px;
	background: url(satpot.png);
/*	border: 1px solid lightgrey;
	font-size: 12px;
	color: dimgrey;
	line-height: 20px;*/

}


.fieldT {
	height: 95%;
	width: 100% !important;
/*	border: 1px solid whitesmoke;*/
/*	background: cyan;*/
	left: 0px;
	position: absolute;
/*	margin-left: 20px;
	margin-top: 20px;*/
/*	padding: 20px;*/

}


.perm {
	z-index: 1;
	position: fixed;
	bottom: 0px;
	left: 15px;
	font-size: 10px;
	color: dimgrey;
	line-height: 20px;
	background:white;
	width: auto;
	height: 50px;
	padding-top: 10px;
}

.campic {
	position: absolute;
	width: 400px;
	/*border: 1px solid tomato;*/
	/*background-size: 160px 232px;*/
	background-repeat: no-repeat;
	height: 380px;
	right: 11%;
	margin-top: 50px;
	margin-right: 120px;
	background-image: url(daphne&telstar/crop.jpg);
	background-position: 0px -0px;
	opacity: 0.6;
}

