body {
	font-family: "andale mono";
}

.topNav {
	background: white;
	height: 30px;
	border-bottom: 1px dashed tomato;
	line-height: 45px;
/*	background: whitesmoke;*/
	background-image: url(metalex.jpg);
	background-position: 0px 0px;
	color: whitesmoke;
	font-size: 25px;
}

.topNav:hover {
	color: tomato;
}

.mobileX {
	/*background-image: url(metal.jpg) !important;*/
}

.sideNav{
	/*background: url(metal.jpg);*/
	background: whitesmoke;
	position: absolute;
	height: 100%;
	left: 0px;
	/*padding:20px;*/
	float: left;
}

.navMods {
	width: 95%;
	left: 10%;
	margin-left: 20px;
	margin-top: 20px;
	border: 1px solid white;
	height: 100px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 100px;
	font-size: 12px;
	color: dimgrey;
}

.navMods:hover {
	background: white !important;
	font-style: italic !important;
	color: tomato !important;
}

.stamp {
	position: absolute;
	width: 200px;
	height: 150px;
	background-size: 200px 150px;
	background-image: url(stamp.png);
	bottom: 30px;
	left: 15%;
}

.field {
	height: 91%;
	width: 77%;
	border: 1px solid whitesmoke;
/*	background: tomato;*/
	left: 19.06%;
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
	/*background-size: 1000px 647px;*/
	background-repeat: no-repeat;

}

.splash {
	background-image:url(frame.png);
	height: 100%;
	background-repeat: no-repeat;
}

.fieldT {
	height: 91%;
	width: 70.5% !important;
	border: 1px solid whitesmoke;
/*	background: cyan;*/
	left: 19.06%;
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
	padding: 20px;

}

/*TEMPLATE*/

.template {

	width: 93%;
	min-height: 85%;
	height: auto;
	/*margin: 20px;
	padding: 20px;
	border: 1px solid tomato;*/
	color: dimgrey;
	display: none;

}

.icon {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 100px;
	height: 100px;
}

.tIcon {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 80px;
	height: 80px;
	background-size: 80px 80px;
/*	border: 1px solid tomato;*/
}

.title {
	position: absolute;
	width: auto;
	height: 40px;
	/*border: 1px solid tomato;*/
	margin-bottom: 10px;
	left: 140px;
	top: 22px;
	line-height: 40px;
	font-size: 24px;
}

.tTitle {
	position: absolute;
	width: auto;
	height: 35px;
	/*border: 1px solid tomato;*/
	margin-bottom: 10px;
	left: 120px;
	top: 20px;
	line-height: 35px;
}


.subTitle {
	position: absolute;
	width: auto;
	height: 40px;
	/*border: 1px solid tomato;*/
	left: 140px;
	top: 82px;
	line-height: 40px;
	font-style: italic;
}

.tSubTitle{
	position: absolute;
	left: 120px;
	top: 70px;
	height: 35px;
	line-height: 35px;
}

.slideMod {
	width: 70%;
	height: auto;
	/*border: 1px solid tomato;*/
	position: absolute;
	top: 140px;
	left: 140px;
	/*padding: 20px;*/
}

.tSlideMod {
	width: 77%;
	height: auto;
	/*border: 1px solid tomato;*/
	position: absolute;
	top: 120px;
	left: 60px;
	/*padding: 20px;*/
}

.frames {
	height: auto;
	width: auto;
}

.frame1 {
	height: auto;
	width: auto;
}

.window1 {
	width: auto;
	height: auto;
	min-height: 500px;
	/*border: 1px solid tomato;*/
	margin-bottom: 20px;
	background-repeat: no-repeat;
}

.text1 {
	width: auto;
	height: auto;
/*	border: 1px solid tomato;*/
	white-space:normal;
	word-wrap: break-word;
}

.leftButton {
	position: absolute;
	left: 100%;
	margin-left: 20px;
	top: 140px;

}

.rightButton {
	position: absolute;
	left: -30px;
	top: 140px;
	width: auto;

}






