@media only screen and (min-width : 1224px){
body{
-webkit-transform: scale(1.3);
-moz-transform:    scale(1.3);
-ms-transform:     scale(1.3);
-o-transform:      scale(1.3);
}
}

body {
	background: white;
}

.container {
	min-width: 300px;
	max-width: 700px;
	width: 58%;
	height: 600px;
	background: white;
	position: absolute;
	margin-top: 3%;
	left: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	
}

@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

.title {
	position: absolute;
	width: 200px;
	height: 100px;
	top: 40px;
	left: 25px;
	font-family: 'EB Garamond', serif;
	font-size: 14px;
}

.cursor {
	width: 15px;
	height: 28px;
	/*background: tomato;*/
	border: 1px solid white;
	background-image: url(index/greeney.jpg);
	/*background-size: 1300% auto;*/
	position: absolute;
	top: 0px;
	left: -25px;
	-webkit-transition: all .2s ease;
	-moz-transition:    all .2s ease;
	-opera-transition:  all .2s ease;
}

.works {
	position: absolute;
	top: 8px;
	left: 0px;
}

p {
	margin: 0px;
	color: lightgrey;
	font-style: italic;
	font-size: 14px;
	float: right;
	margin-top: 10px;
}


.list {
	top: 100px;
	position: absolute;
	/*height: 1000px;*/
	width: 100%;
	background: white;
	color: black;
	font-family: 'EB Garamond', serif;
	font-size: 13px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

li p {
	float: right;
	margin-top: 0px;
	margin-right: 10px;
}

a {
	color: black;
	-webkit-transition: all 1s ease;
	-moz-transition:    all 1s ease;
	-opera-transition:  all 1s ease;
	text-decoration: none;
}

a:hover {
	color: tomato;
}

.gg {
	width: 100%;
	/*height: 20px;*/
	background: rgba(245, 245, 245, 0.45);
	line-height: 24px;
	background-size: 100% auto;

	
}

.w {
	width: 100%;
	/*height: 20px;*/
	background: white;
	line-height: 24px;
	
}

.imgFeild {
	width: 100%;
	height: 300px;
	top: 300px;
	position: absolute;
	font-family: 'EB Garamond', serif;
  	font-size: 13px;
}

.imgContent {
	position: relative;
	top: 0px;
	float: right;
	height: 290px;
	width: 50%;
	max-width: 215px;
	/*border: 1px dashed blue;*/
	background-size: 100% auto;
	background-repeat: no-repeat;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-opera-transition:  all 1.5s ease;
}


.textContent {
	position: relative;
	top: 0px;
	float: right;
	height: 300px;
	width: 40%;
	max-width: 189px;
	text-align: right;
	line-height: 21px;
	padding-right: 20px;
}

.imgFeild .contact {
  margin-top: 283px;
  color: lightgrey;
  width: 150px;
}

.header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;

}

.box {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 60px;
	height: 60px;
	border: 1px solid red;
}

.box .count {
	font-size: 40px;
	color: red;
	text-align: center;
	position: relative;
    top: 50%;
    left: 2px;
    -webkit-transform: translateY(-50%);
    width: 100%;
    height: 100%;
    margin-top: 5px;
    text-transform: none;
}

.box:hover{
	color: cyan;
	border: 1px solid cyan;
}




