@font-face {
font-family: Andale Mono;
src: url("css/Andale-Mono.ttf") format("opentype");
}


@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Crimson+Text:400,400italic,600,700,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);

.title {
	position: absolute;
	width: 200px;
	height: 100px;
	top: 30px;
	/*left: 20%;*/
	font-family: 'EB Garamond', serif;
	/*font-weight: bold;*/
}

p {
	margin: 0px;
	color: lightgrey;
	font-style: italic;
	font-size: 12px;
	float: right;
	margin-top: 10px;
}


.list {
	top: 100px;
	position: absolute;
	height: 1000px;
	width: 100%;
	background: white;
	color: black;
	font-family: 'EB Garamond', serif;
	font-size: 13px;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
    width: 80%
}

li { 
	width: 100%;
    padding-left: 28%; 
    text-indent: -.7px;

}

li:before {
 /*   content: "• ";*/
    color: tomato; /* or whatever color you prefer */
}

li p {
	/*width: 200px;*/
	height: 21px;
	/*text-align: right;*/

	font-style: italic;
	padding: 0px;
	margin-right: 200px;
	margin-top: 0px;
	color: darkgrey;
}

.gg {
	width: 100%;
	/*height: 20px;*/
	background: whitesmoke;
	line-height: 21px;
}

.w {
	width: 100%;
	/*height: 20px;*/
	background: white;
	line-height: 21px;
}

.imgFeild {
	width: 82%;
	height: 300px;
	top: 350px;
	position: absolute;
	font-family: 'EB Garamond', serif;
  	font-size: 13px;
}

.imgContent {
	position: relative;
	top: 0px;
	float: right;
	height: 300px;
	width: 200px;
	/*border: 1px dashed blue;*/
	background-size: 100% auto;
	padding: 10px;
	background-repeat: no-repeat;
	-webkit-transition: all 1.5s ease;
	-moz-transition:    all 1.5s ease;
	-opera-transition:  all 1.5s ease;
}

.textContent {
	position: relative;
	top: 0px;
	float: right;
	height: 300px;
	width: 200px;
	text-align: right;
	line-height: 21px;
	padding-right: 40px;
}

.imgFeild .contact {
  margin-top: 347px;
  /*margin-left: 25%;*/
  /*float: right;*/


}

li a{
	color: black !important;
}

li a:hover {
	color: blue !important;
}


