@font-face {
font-family: Andale Mono;
src: url("css/Andale-Mono.ttf") format("opentype");
}

.title {
	position: absolute;
	width: 245px;
	height: 100px;
	top: 30px;
	left: 25px;
	font-family: "andale mono";
}

p {
	margin: 0px;
	color: lightgrey;
	font-style: italic;
	font-size: 12px;
	float: right;
	margin-top: 10px;
}


.list {
	top: 100px;
	position: absolute;
	height: 1000px;
	width: 100%;
	background: white;
	color: black;
	font-family: "andale mono";
	font-size: 12px;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
    width: 100%
}

li { 
	width: 100%;
    padding-left: 20px; 
    text-indent: -.7px;

}

li:before {
    content: "• ";
    color: tomato; /* or whatever color you prefer */
}

li p {
	/*width: 200px;*/
	height: 21px;
	text-align: right;
	font-style: italic;
	padding: 0px;
	margin-right: 40px;
	margin-top: 0px;
	color: darkgrey;
}

.gg {
	width: 100%;
	/*height: 20px;*/
	background: whitesmoke;
	line-height: 21px;
}

.w {
	width: 100%;
	/*height: 20px;*/
	background: white;
	line-height: 21px;
}

.imgFeild {
	width: 95%;
	height: 300px;
	top: 280px;
	position: absolute;
	font-family: "andale mono";
  	font-size: 12px;
}

.imgContent {
	position: relative;
	top: 0px;
	float: right;
	height: 300px;
	width: 200px;
	border: 1px dashed blue;
	background-size: 100% auto;
	padding: 10px;
	background-repeat: no-repeat;
	-webkit-transition: all 1.5s ease;
	-moz-transition:    all 1.5s ease;
	-opera-transition:  all 1.5s ease;
}

.textContent {
	position: relative;
	top: 0px;
	float: right;
	height: 300px;
	width: 200px;
	text-align: right;
	line-height: 21px;
	padding-right: 40px;
}

.imgFeild .contact {
  margin-top: 347px;
  margin-right: -440px;
  float: right;


}

li a{
	color: black !important;
}

li a:hover {
	color: blue !important;
}


