body {
	/*background: purple;*/
}

#backdrop {
        position: absolute;
        width: 100%;
        z-index: 0;
        top: 0px;
        left: 0px;
      }


.booth {
	position: absolute;
	z-index: 1;
	width: 800px;
	margin-left: 50%;
	left: -400px;
}

#canvas {
}

#video {
	display: none;
}