@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=f8e3a4fd-d468-4fb9-8f81-e9e9e8515f2b&fontids=san-marco");
@font-face{
font-family:"San Marco";
src:url("fonts/san-marco/cae943c3-78bd-42be-9d70-31e443c79dd2.eot?#iefix");
src:url("fonts/san-marco/cae943c3-78bd-42be-9d70-31e443c79dd2.eot?#iefix") format("eot"),url("fonts/san-marco/36412afb-938c-4b77-97e6-56e8c4e1653c.woff2") format("woff2"),url("fonts/san-marco/30b179ed-71fe-4084-a58f-fddb0df1faba.woff") format("woff"),url("fonts/san-marco/ff91d907-9052-4eca-b625-f4f06481f6d2.ttf") format("truetype"),url("fonts/san-marco/94b79448-7b99-4410-8884-1473c998ea93.svg#94b79448-7b99-4410-8884-1473c998ea93") format("svg");
}

@font-face{
font-family:"Chalet Book";
/*src:url("fonts/chalet-book/ChaletBookBold.ttf") format("truetype");
*/src:url("fonts/chalet-book/ChaletBook-Italic.otf") format("truetype");
}

@font-face{
font-family:"Chalet-Book-Bold-Italic";
/*src:url("fonts/chalet-book/ChaletBookBold.ttf") format("truetype");
*/src:url("fonts/chalet-book/ChaletBook-BoldItalic.otf") format("truetype");
}

body {
	background: lightgrey;
	-webkit-transition: background 2s ease;
	-moz-transition:    background 2s ease;
	-opera-transition:  background 2s ease;
	overflow: hidden;
	height: 100vh;
}

.softHome{
	width: 1200px;
    height: 1200px;
	
	position: absolute;
	top: 50vh;
	-ms-transform: translateY (-50%);
	-webkit-transform: translateY (-50%);
	-moz-transform: translateY (-50%);
	-o-transform: translateY (-50%);
	transform: translateY(-50%);

	margin-left: 50%;
	left: -600px;
}

.logo {
	width: 420px;
	height: 420px;
	
	position: absolute;
	left: -210px;
	margin-left: 50%;
	margin-top: 390px;
	
	opacity: 0.4;
}

.circle {
	width: 300px;
	height: 300px;
	
	border-radius: 50%;
	border: 15px solid white;
	
	-ms-transform: skew(5deg);
    -webkit-transform: skew(5deg); 
    -moz-transform: skew(5deg);
    -opera-transform: skew(5deg); 
    transform: skew(5deg);
}

#A {
	position: absolute;
	top: 10px;
	left: 70px;
}

#B {
	position: absolute;
	top: 70px;
	left: 10px;
}

.link {
	display: none;
	width: 500px;
    height: 40px;
    position: absolute;
    top: 580px;
    margin-left: 50%;
    left: -250px;
    z-index: 2;
    text-align: center;

}

.link a {
	font-family: "Chalet Book";
	font-size: 40px;
	color: white;
	letter-spacing: 5px;
	text-decoration: none;
	
}

a:hover{
	color: yellow;
}

.effectorHalf {
	display: block;
	width: 400px;
	height: 280px;

	position: absolute;
	left: -200px;
	margin-left: 50%;
	top: 380px;
	z-index: 3;
	
	opacity: 0.4;
}

.effectorHalfB {
	display: block;
	width: 400px;
	height: 180px;

	position: absolute;
	left: -200px;
	margin-left: 50%;
	top: 620px;
	z-index: 2;

	opacity: 0.4;
}

.mobile-effector {
	display: none;
}

.container {
	width: 650px;
	height: 1200px;

	position: absolute;
	margin-left: 275px;
	z-index: 2;

	font-family: "San Marco";
	color: white;

	opacity: 0.8;	
}

p {	
	display: block;
	width: 100px;
	
	float: left;
	margin: 0px;
	margin-left: 0px;
	margin-top: 0px;
	top: 50%;
  	transform: translateY(-50%);

	font-size:150px;
	text-align: center;

  	-webkit-transition: top 3s ease;
	-moz-transition:    top 3s ease;
	-opera-transition:  top 3s ease;

}

.s{left: 0px;}

.o{left: 90px;}

.f{left: 170px;}

.t{left: 240px;}

.w{left: 330px;}

.a{left: 420px;}

.r{left: 500px;}

.e{left: 570px;}

h4 {
	display: block;
	width: 100%;
	height: 50px;

	position: absolute;
	top: 20%;
	margin-top: 190px;

	font-family: "Chalet Book";
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 40px;
	letter-spacing: 5px;

	-webkit-transition: display 3s ease;
	-moz-transition:    display 3s ease;
	-opera-transition:  display 3s ease;
}


.mobile-info {
	display: none;
}


ul {
	display: block;
	width: 1080px;
    height: 1080px!important;
	
	position: absolute;
	margin-left: 75px;
	margin-top: 75px;
	padding-left: 0px;
	padding: 0px;
	z-index: -2;

	font-size: 65px;
    font-family: "Chalet-Book-Bold-Italic";
    color: white;

    opacity: 0;

    -webkit-transition: opacity 2s;
	-moz-transition:    opacity 2s;
	-opera-transition:  opacity 2s;


    -webkit-animation: rotate 40s infinite linear; 
    -moz-animation: rotate 40s infinite linear; 
    -o-animation: rotate 40s infinite linear; 
    animation: rotate 40s infinite linear; 
}


li {
	list-style-type: none;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to { 
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg);
  }
  to { 
    -moz-transform: rotate(0deg);
  }
}






