

@media only screen and (max-width: 736px){

body{
 	transform: scale(0.5);
	width: 100%;
	
	position: absolute;
	left: 0px;
	top: -100px;

	background-color: black;
}

.softHome{
	width: 100%;
	height: 75vh;
	margin-left: 0px;
	position: absolute;
	left: 0px;
}

.logo {
	margin-top:50px;
}

.container {
	width: 650px;
	height: 553px;
	
	margin-left: 50%;
    left: -325px;
}

.container p {
	margin-top: -100px;
	display: block!important;
}

h4 {
	top: 40vh;
	margin-top: 20px;
}

.mobile-effector{
	display: block;
	width: 120vh;
	height: 150vh;

	position: absolute;
	left: -20vh;
	top: 0vh;
	z-index: 2;
	
	opacity: 0.6;

}

.mobile-info {
	display: block;
	width: 100%;
	top: 600px;
	
	position: absolute;
	z-index: 3;
	
	font-family: "Chalet Book";
	font-size: 30px;
	text-align: center;
	line-height: 70px;
	color: white;	
}

a  {
	display: block;
	width: 100%;
	height: 70px;

	position: relative;

	font-family: "Chalet-Book-Bold-Italic";
	text-decoration: none;
	color: #908ACF;	
}

.link {
	display: none!important;
}

.effectorHalf,
.effectorHalfB {
	display: none;
}

ul {
	opacity: 0!important;
	-webkit-animation-name: none;
	-moz-animation-name: none;
	-opera-animation-name: none;

	-webkit-transition: none;
	-moz-transition:    none;
	-opera-transition:  none; 
}

}

