@media only screen and (max-width: 400px){

body{
	background-color: black;
	-moz-transform: scale(0.7);
  	-webkit-transform: scale(0.7);
 	zoom: 0.7;
}

.logo {
	top:40vh;
}

.effector{
	top: 40vh;
}

.container {
	top: 15vh;
}

a {
	top: 65vh;
}

.mobile-info {
	width: 100%;
	position: absolute;
	top: 120vh;
	display: block;
	text-align: center;
	font-size: 30px;
	font-family: "Chalet Book";
	color: white;
	line-height: 70px;
}

.info {
	display: none;
}

}