
@media only screen and (max-width: 736px){


@font-face{
font-family:"Chalet-Bold";
src:url("fonts/chalet-book/ChaletBook-Bold.otf") format("truetype");
}
.softHome{
	width: 100%;
    height: 100vh;
	position: absolute;
	top: 0px;
	left:0px;
	-ms-transform: translateY (0%);
	-webkit-transform: translateY (0%);
	-moz-transform: translateY (0%);
	-o-transform: translateY (0%);
	transform: translateY(0%);
	margin-left: 0px;
	
}

.container .title {
	display: none;
}

.container {
/*	background-color: blue;
*/	top: 0px;
	height: 100vh;
	opacity: 1;
}

.container .mobile_title {
	display: block;
	font-size: 30px;
	letter-spacing: 3px;
	width: 100%;
	height: 100px;
	margin-left: 0px;
	left: 0px;
	top: 0px;
	position: absolute;
	background-color: white;
	text-align: center;
	opacity: 1;
	line-height: 80px;
}

.container .info {
	position: absolute;
	top: -30px;
	margin-left: 275px;
	font-family: "Chalet-Bold";
	text-align: center;
	font-size: 14px;
	line-height: 20px;
    width: 175px;
	height: auto;
	/*background-color: red;*/
}

.container .info.A {
	margin-top: 300px;
}

.container .info.B {
	margin-top: 500px;
}

.container .info span.b3 {
	letter-spacing: 4.74px;
}

.diamond{
	width: 350px;
	height: 350px;
	top: -400px;
	left: 225px;
	position: absolute;
	-webkit-transform: rotate(45deg);
	background-color: white;
	z-index: 2;
}


.nav {
	position: absolute;
	width: 50%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 0%;
	z-index: 4;
	/*font-family: "Chalet-Bold";*/
	text-transform: uppercase;
	background-color: red;
	/*font-size: 30px;*/
	color: white;
	border-bottom: 5px solid white;

}

a.nav {
	text-decoration: none;
	color:white!important;
}

a.nav:hover {
	background-color: black;
	color: white!important;
}

.nav.A {
	background-color: lightgrey;
	top: 80px;
	left: 0px;
	border-right: 5px solid white;
}

.nav.B {
	background-color: lightgrey;
	color: white;
	top: 80px;
	left: 51%;
}

.nav.B:hover {
	background-color: black;
	color: white!important;
}

.link {
	display: none;
	width: 500px;
    height: 40px;
    position: absolute;
    top: 380px;
    margin-left: 50%;
    left: -250px;
    z-index: 6;
    text-align: center;
    /*background-color: red;*/

}

.link a {
	font-family: "Chalet Book";
	font-size: 28px;
	width: 500px;
    height: 100px;
	color: black;
	letter-spacing: 5px;
	text-decoration: none;
	/*background-color: blue;*/
	
}

a:hover{
	color: blue;
}

img {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	left: -25px;
	margin-left: 50%;
	top: 370px;
	opacity: 1;
}

}