@media only screen and (max-width: 400px){

body{
	background-color: black;
	-moz-transform: scale(0.7);
  	-webkit-transform: scale(0.7);
 	zoom: 0.7;
}

.logo {
	top:40vh;
}

.effector{
	top: 40vh;
}

.container {
	top: 15vh;
}

h4 {
	top: 50vh;
}

.effector {
	display: none;
}

.mobile-effector{
	top: 0vh;
/*	background: red;
*/	position: absolute;
	display: block;
	width: 120vh;
	height: 150vh;
	opacity: 0.6;
	z-index: 2;
	left: -20vh;
}

.mobile-info {
	width: 100%;
	position: absolute;
	top: 120vh;
	display: block;
	text-align: center;
	font-size: 30px;
	font-family: "Chalet Book";
	color: white;
	line-height: 70px;
}

a  {
	font-family: "Chalet-Book-Bold-Italic";
	display: block;
	width: 100%;
	height: 70px;
	color: #908ACF;
	position: relative;
	text-decoration: none;
}

.info {
	display: none;
}

}